/*

*/
// === Настройки шрифтов
$fontSize: 16px;
$fontWeight: 400;
$fontColor: #000;
$fontFamily: system-ui;

// === Настройки контейнера
$wrapperMaxWidth: 1170px;
$wrapperMinWidth: 320px;
$wrapperSidePadding: 16px; 

// === Подключение библиотек
/*

*/