@use 'sass:math';
@import './base/normalize';
@import './base/fonts';
// google fonts, etc

@import './base/mixins';
@import './base/common';

// =========================== *\
// Стандартные настройки шрифтов.
// =========================== */
$fontSize: 16px;
$fontWS: 400;
$fontColor: #000;
$fontFamily: system-ui;

// =========================== *\
// Настройки ограничивающего контейнера
// =========================== */
$wrapperMaxWidth: 1170px;
$wrapperMinWidth: 320px;
$wrapperSidePadding: 16px;

// =========================== *\
// Tippy.js анимации.
// =========================== */

.tippy-box {
    &[data-animation='fade'][data-state='hidden'] {
        opacity: 0;
    }
}

// =========================== *\

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    * {
        font-size: $fontSize;
        font-family: $fontFamily;
        font-weight: $fontWS;
        color: $fontColor;
    }
}

.wrapper {
    max-width: $wrapperMaxWidth;
    width: 100%;
    min-width: $wrapperMinWidth;
    margin: 0 auto;
    padding: 0 $wrapperSidePadding;

    display: flex;
    flex-direction: column;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    object-position: center;
}

.g {
    &-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &-col {
        display: flex;
        flex: 1 0 0;
        min-width: 300px;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        content: 'systemTheme--dark';
    }
}

// Подключение файлов стилей общих страниц
@import './components/header';
@import './components/footer';

// Подключение файлов стилей отдельных страниц
@import './index';