@use 'sass:math';

@import './base/normalize';

@import './base/fonts';
@import './base/config';
@import './base/mixins';

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    * {
        font-size: $fontSize;
        font-family: $fontFamily;
        font-weight: $fontWeight;
        color: $fontColor;
    }
}

.wrapper {
    max-width: $wrapperMaxWidth;
    width: 100%;
    min-width: $wrapperMinWidth;
    margin: 0 auto;
    padding: 0 $wrapperSidePadding;

    display: flex;
    flex-direction: column;
    position: relative;
}

img {
    max-width: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}

// =========================== *\
// Tippy.js анимации.
// =========================== */
.tippy-box {
    &[data-animation='fade'][data-state='hidden'] {
        opacity: 0;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        content: 'systemTheme--dark';
    }
}

@import './base/common';

@import './header';
@import './footer';

@import './home';